/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #250830;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
}

nav {
    background-color: #222;
    width: 200px;
    padding: 2rem 1rem;
    height: 100vh;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
    flex-grow: 1;
}

section {
    margin-bottom: 2rem;
}

.game, .photo {
    background-color: rgba(30, 30, 30, 0.5); /* #1e1e1e;*/
    border: 1px solid #444;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 2 2px 5px rgba(0, 0, 0, 0.7);
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.game img, .photo img {
    width: 25%;
    max-width: 200%;
    border-radius: 5px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    position: relative;
}

.nav-button, .download {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button {
    font-size: 2rem;
}

.download {
    flex-grow: 1;
    margin: 0 1rem;
    text-align: center;
}

.button.active {
    background-color: #4caf50; /* Green */
    color: #fff;
}

.button.inactive {
    background-color: #555;
    color: #777;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: sticky;
    bottom: 0;
    width: 100%;
}

/* Animation */
body {
    background: linear-gradient(-45deg, #a3259d, #270e81);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}
